Options +FollowSymlinks
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "\.(tpl|ini|log)">
 Order deny,allow
 Deny from all
</FilesMatch>

# SEO URL Settings
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^professionalnyj-montazh-videonabljudenija-perechen-uslug-i-stoimost$ /montazh-videonabljudenija? [R=301,L]
RewriteRule ^ip-videonabljudenie-v-sovremennyh-sistemah-bezopasnosti-i-kontrolja-ego-vozmozhnosti-i-preimuschestva$ /ip-videonabljudenie? [R=301,L]
RewriteRule ^hd-sdi-kamery-novye-reshenija-v-mire-sistem-videonabljudenija-sfera-primenenija-i-voprosy-vybora$ /hd-sdi-kamery? [R=301,L]
RewriteRule ^sovremennyj-videoregistrator-dlja-videonabljudenija-voprosy-vybora-i-tseny$ /videoregistrator-dlja-videonabljudenija? [R=301,L]
RewriteRule ^podkljuchenie-i-ustanovka-domofona-v-podezde-prodazha-domofonov-vizit-podkljuchenie-videodomofona-k-podezdnomu$ /podkljuchenie-i-ustanovka-domofona? [R=301,L]
RewriteRule ^turniket-samyj-prostoj-i-populjarnyj-sposob-kontrolja-potoka-ljudej$ /turniket? [R=301,L]
#RewriteRule ^news/?record_id=21$ /news/axis_predstavika_fiksirovannyiy_setevyiy_kamery? [R=301,L]

# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/ 

RewriteBase /
RewriteRule ^sitemap.xml$ index.php?route=feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=feed/google_base [L]
RewriteRule ^download/(.*) /index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]

# Force no caching for dynamic files
<FilesMatch "\.(php|cgi|pl|htm)$">
ExpiresActive Off
Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
</FilesMatch>
##################

################## GZip Files ###################
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddType x-font/otf .otf
AddType x-font/ttf .ttf
AddType x-font/eot .eot
AddType x-font/woff .woff
AddType image/x-icon .ico