.sertif{display:block;position:relative;background:url(../images/sertiaficatu_bg.jpg) no-repeat;background-size:cover;background-position:50% 100%;z-index:2;overflow:hidden;}
.sertif .wrap{position:relative;}
.sertif h2{font-size:36px;font-family:'Open Sans Condensed',sans-serif;background:none;padding-top:32px;margin-bottom:36px;text-align:center;}
.sertif p{font-family:'Open Sans',sans-serif;font-weight:400;font-size:14px;color:#000000;margin-bottom:20px;}
.sert_di img{margin-right:7px;}
.di2 img{float:left;margin-right:32px;}
.sert_di{margin-bottom:50px;}
.sert_men{position:absolute;right:0;margin-right:-130px;bottom:0px;width:517px;height:367px;display:block;z-index:-1;}

.sertif .box .box-heading{
    display: none;
}

.sertif .box .box-content{
   font-family:'Open Sans',sans-serif;font-weight:400;font-size:14px;color:#000000;margin-bottom:49px; 
}