/* iToggle */
label.ilabel{display:block;font-size:12px;padding-bottom:/*1*/0px;cursor:pointer}
label.itoggle,label.itoggle span{display:block;width:79px;height:23px;margin-bottom:20px;background:url(img/itoggle.png) left bottom no-repeat;cursor:pointer;text-indent:-5000px}
label.itoggle.iToff{background-position:right bottom}
label.itoggle span{background-position:left top;margin:0}
input.iT_checkbox{position:absolute;top:-9999px;left:-9999px}

/* Main style */
#friendly-display{margin:15px; background:#ddd; border-radius:5px; padding:3px; color:#444;}
#friendly-display div{display:table; width:100%;}
#friendly-display b{display:table-cell; text-align:center; vertical-align:middle;}
#friendly-display span{display:table-cell; background:#eee; border-radius:5px; padding:4px 10px; width:48%; }
.friendly .buttons{float:right; text-align:center;}
.friendly .url input{width:200px;}
.friendly .url .delete{position:relative; top:3px; padding-left:30px;}
.friendly .btns{margin-top:25px;}
.friendly .url{padding:2px 15px 2px; display:inline-block; border-radius:5px; margin-right:25px;}
.friendly .url:hover{background:#C5D6E2;}
.friendly .url span{padding:0 30px;}
input[type=text],select{border-radius:5px; background:#F5EFF7; border:1px solid #ccc; padding:3px; height:25px}
textarea{border-radius:5px; background:#F5EFF7; border:1px solid #ccc;}
input[type=text]{height:18px}
option{padding-right:15px;}
.box, .box td{font-size: 13px; line-height: 15px; font-family: "PT Sans","PT Sans Narrow", sans-serif;}
.box > .heading h1{color:#11b209;}
.box > .heading h1 span{color:#555;}
.box > .heading img{position:relative;bottom:2px;}
.form.about td{padding:30px 10px}
.vtabs a,.vtabs span{border-radius: 7px 0 0 7px; outline:0}
.htabs a{border-radius: 5px 20px 0 0; outline:0; color:#333;}
.htabs i{float:left;position:relative; right:5px;padding-right:0px; width:16px;height:16px; color:#DED2D0; font-size:16px; font-weight: normal;}
.htabs .tab1 i{background:url('img/tab1.png') top no-repeat;}
.htabs .tab2 i{background:url('img/tab2.png') top no-repeat;}
.htabs .tab3 i{background:url('img/tab3.png') top no-repeat;}
.htabs .tab4 i{background:url('img/tab4.png') top no-repeat;}
.htabs .tab5 i{background:url('img/tab5.png') top no-repeat;}
.htabs .tab6 i{background:url('img/tab6.png') top no-repeat;}
.htabs .tababout i{background:url('img/about.png') top no-repeat;}
.htabs a.selected{box-shadow: 2px -2px 2px #eee;}
.htabs a.selected i{background-position:bottom; color:#86C440;}
.switchContent{display:none}
.switchBtn{cursor:pointer}
.customer_groups .switchContent > div{display:inline-block;width:200px; margin-bottom:5px;}
.customer_groups .switchContent > div > span{margin-bottom:7px; display:inline-block;}
.customer_groups h4{margin-bottom:5px;}
.customer_groups h4:first-child{margin-top:0;}
#template img, #sliptemplate img{width:300px; border: 1px solid #eee; cursor:zoom-in;}
#template img.full, #sliptemplate img.full{width:auto; cursor:zoom-out;}
.multiple_switch > div{width:150px; float:left;}
.multiple_switch > div > span{display:block; padding-bottom:7px;}
.generator .patterns {width:230px; padding-right:30px;}
.generator input{margin-right:40px;}
.simulation{background:url('img/simulation.png') left no-repeat; padding-left:40px; margin:20px 30px;}
.simulation.write{background:url('img/save.png') left 1px no-repeat;}
.simulation span{font-weight:bold;}
.res_table{width:100%; border-collapse:collapse; border:1px solid #555;}
.res_table a{text-decoration:none; color:#000;}
.res_table a:hover{text-decoration:underline;}
.res_table td{padding:5px 5px 6px 5px; border-bottom:1px dashed #ccc; }
.res_table tr:nth-child(odd){background:#F4F4F4;}
.res_table tr:nth-child(even){background:#E5E5E5;}
.res_table td:nth-child(3){display:none;}
.res_table .c{color:#393C9B;}
.res_table thead td{background:#ccc; color:#333; font-weight:bold; padding:7px 5px; border-bottom:1px dashed #eee;}
.res_table tbody tr:hover td{background:#BCE2C2;}
.toggle{height:16px; line-height:16px; padding-left:20px; cursor:pointer; background:url('img/toggle.png') top left no-repeat; float:right; color:#fff; margin:5px 15px 0 0;}
.toggle:hover{text-decoration:underline;}
.toggle.active{background:url('img/toggle.png') bottom left no-repeat;}
.fullscreen{height:32px; line-height:32px; padding-right:40px; cursor:pointer; background:url('img/fullscreen.png') right 5px top no-repeat; float:right; margin:0 10px 0 0; padding:2px 45px 2px 15px;}
.fullscreen:hover{background-color:#ccc; border-radius:5px; box-shadow:0 0 1px #ccc;}
.fullscreen.active{background-position:right 5px bottom;}
tr.info:hover td:first-child{color:#86C440; transition: color 500ms;}
tr.info td:first-child{text-align:center; font-size:22px; color:#bbb;  transition: color 500ms;}
tr.info td:last-child{color:#555;padding:40px 100px 40px 0;}
#update_result > div{
	margin: 5px 15px;
}
#update_result{
    border: 1px solid #ccc;
    background-color: #eee;
    height: 450px;
    overflow: auto;
	border-radius:5px;
}
#update_result.full{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:999;
}
#update_result h3{
	text-align:center;
	background:#555;
	color:#fff;
	padding: 5px;
	margin-bottom:0;
	border-radius:5px 5px 0 0;
}
#update_result h3.count{
	font-weight:normal;
	margin: 0 0 25px 0;
	border-radius:0 0 5px 5px;
}

a.button, .list a.button{
	transition: background 200ms;
	border:0px solid #888;
	font-weight:normal;
	background: #2e7091;
	border-radius:6px;
	text-shadow:0 0 2px #333;
	box-shadow:1px 1px 2px #333;
	font-size:16px;
	line-height:16px;

	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset, 0 1px 2px rgba(0,0,0,0.8)inset;
	color:#fff;
	text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
		
	background-size : 30px 30px;
	background-repeat:repeat-x;
	background-position :0;
	background-image : -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100% );
	background-image : -o-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);
	background-image : -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);

	background-color: #555;
}
a.button img{vertical-align:top; position:relative; right:4px;}
a.button:hover{background-color: rgba(74,108,155,1); transition: background 200ms;}

i.iconic{font-style:normal;}
.button i{position:relative; right:4px; transition: color 200ms;}
.button .iconic{font-size:14px; line-height:14px; bottom:1px; }
.button:hover .iconic{transition: color 200ms;}

.button.green i{color:#3DCC5C;}
.button.green:hover i{color:#fff;}
.button.green:hover{background-color:#309B28;}
.button.red i{color:#ED5555;}
.button.red:hover i{color:#fff;}
.button.red:hover{background-color:#CE3D35;}
.button.orange i{color:#ED9923;}
.button.orange:hover i{color:#fff;}
.button.orange:hover{background-color:#EA7D1E;}
.button.blue i{color:#669CE8;}
.button.blue:hover i{color:#fff;}
.button.blue:hover{background-color:#4A6C9B;}
